{{youtube-video
  videoId=videoId
  isPlaying=isVideoPlaying
  volume=videoVolume
  seekTo=videoSeekTo
  stateChange='videoStateChange'
}}

<div class="control-overlay">
  <div class="progress-bar" {{bind-attr style=progressWidth}}></div>
</div>
