{{youtube-video
  videoId=videoId
  isPlaying=isVideoPlaying
  volume=videoVolume
  seekTo=videoSeekTo
  stateChange='videoStateChange'
}}

<div {{bind-attr class=':control-overlay isControlsVisible::hidden'}}>
  <div class="progress-bar" {{bind-attr style=progressWidth}}></div>
  <div class="formated-time">
    {{formatedTime}}
  </div>
</div>
