body {
  font-family: 'Roboto', sans-serif;
  background: #24221F;
}


.youtube-video {
  position: relative;
  max-width: 1400px;
  min-width: 600px;
  padding-bottom:50%;
  height: 0;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


.youtube-player {
  position: relative;
  .youtube-video {

  }

  .control-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .progress-bar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      background: #24221F;
      opacity: .6;
    }
    .formated-time {
      position: absolute;
      right: 50px;
      bottom: 30px;
      font-size: 50px;
      font-weight: 100;
      color: white;
    }
  }
}
