<div class="video-page">
  {{youtube-player
    videoId=videoId
    videoTitle=videoTitle
    videoInfo=model.id.videoId
    isVideoMuted=muted
    toNextVideo='toNextVideo'
    toPreviousVideo='toPreviousVideo'
  }}
</div>
